<form method="post">
    <p>Event name:</p><input type="text" name="eventName"/>
    <p>Event description:</p><input type="text" name="eventDescription" />
    <input type="submit" value="Add event" />
</form>
