<h1>Events</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @foreach (Event funEvent in ViewBag.events)
    {
        <tr>
            <td>@funEvent.Name</td>
            <td>@funEvent.Description</td>
            <td><a asp-controller="Events" asp-action="Edit" asp-route-id="@funEvent.Id">Edit Event</a></td>
        </tr>
    }
</table>
<a asp-controller="Events" asp-action="Add">Add Event</a>
    
